.navigation__container {
    position: relative;
    width: 100%;
    max-width: 60px;
    // height: 100%;
    margin: 30px 0 30px 30px;
    padding: 15px 30px;
    transition: max-width 0.3s ease-in-out;
    background: var(--app-bgcolor-secondary);
    overflow: hidden;


    &.open {
        max-width: 340px;
    }

    .icon {
        width: 28px;
        height: 28px;
    }

    #navToggle {
        position: absolute;
        right: 10px;
        top: 10px;
        width: 35px;
        height: 35px;
    }

    #themeToggle {
        position: absolute;
        left: 15px;
        top: 15px;
        width: 25px;
        height: 25px;

        &:hover {
            stroke: var(--app-color-accent);
        }
    }

    .navigation__header {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        // height: 100px;
        padding-top: 50px;


        h1 {
            white-space: nowrap;
        }

        a {
            &.active {
                color: var(--app-color-accent);
            }

            &:hover {
                color: var(--app-color-accent);
            }
        }

        ul {
            list-style-type: none;
            padding: 0;
            padding-bottom: 10px;
            margin: 0;

            li {
                font-size: 14px;
            }
        }

        &.collapsed {
            height: 40px;
        }
    }

    .navigation__social {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 10px;
        gap: 12px;

        &.vertical {
            flex-direction: column;
        }
    }

    .navigation__body {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 10px 0;

        &.collapsed {
            justify-content: center;
            padding: 10px;
        }

        .subMenu {
            margin: 0;
            padding: 0 0 0 80px;
            height: 100%;
            max-height: 0px;
            overflow: hidden;
            transition: max-height 0.3s ease-in-out;
            gap: 10px;

            &.open {
                // max-height: 120px;
                margin-right: -5px;
                overflow-y: auto;
            }

            a {
                padding: 3px 20px;
                border-left: 1px solid var(--app-color-accent);
            }
        }
    }

    .menu-item {
        position: relative;
        display: flex;
        padding: 10px 0;
        padding-left: 60px;
        width: 100%;
        gap: 15px;

        &.active {
            .cube__face {
                border: 2px solid var(--app-color-accent);
            }

            path {
                fill: var(--app-color-accent);
            }
        }

        &.vertical {
            padding: 10px 0;
            justify-content: center;

            &:hover {
                background-color: transparent;
            }
        }

        &__dir {
            position: absolute;
            top: 15px;
            left: 30px;
            width: 15px;
            height: 15px;
            margin: auto 0;
            stroke: var(--app-color);
            transition: transform 0.3s ease-in-out;

            &.open {
                transform: rotate(90deg);
            }
        }

        &:hover {
            cursor: pointer;
            background-color: var(--app-bgcolor-secondary-hover);
            color: var(--app-color-accent-hover);

            path {
                fill: var(--app-color-accent-hover);
            }

            .cube__face {
                border: 2px solid var(--app-color-accent);
            }
        }
    }

    .divider {
        width: 80%;
    }

    .horizontal {
        width: 80%;
        margin: 0 auto;
    }
}

#info {
    margin-top: 220px;
}

#mailIcon {
    stroke-width: 2px;
}

#profilePic {
    position: absolute;
    width: 400px;
    top: 0;
    left: 25px;
    clip-path: circle(25% at 38% 62%);
    padding: 0;
}
