---
layout: page
pagination:
    enabled: true
---

{% if paginator.total_posts > 0 %}
<div class="posts">
    {% for post in paginator.posts %}
    <div class="post message">
        <h1 class="post-title">
            <a href="{{ post.url }}"> {{ post.title }} </a>
        </h1>

        <span class="post-date">{{ post.date | date_to_string }}</span>

        {{ post.content }}
    </div>
    {% endfor %}
</div>
{% if paginator.total_pages > 1 %}
<div class="pagination">
    <ul>
        <a class="pagination-item newer {% if paginator.previous_page == null %}disabled{% endif %}" href="{{ paginator.previous_page_path | prepend: site.url }}">Newer</a>
        <a class="pagination-item older {% if paginator.next_page == null %}disabled{% endif %}" href="{{ paginator.next_page_path | prepend: site.url }}">Older</a>
    </ul>
</div>
{% endif %} {% else %}
<div>
    <h2>Oops! Nothing to see here.</h2>
    <p>Move along, move along.</p>
</div>
{% endif %}
