.skills-table {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly
}

.section {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1.2em;
    font-weight: bold;
    width: 100%;
}

.section h2 {
    margin-top: 0;
}

.skill {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-bottom: 20px;
}

.skill-label {
    font-weight: bold;
    margin-bottom: 5px;
}

.proficiency {
    height: 10px;
    border-radius: 5px;
    background-color: #ccc;
    overflow: hidden;
  }

.proficiency-fill {
    height: 100%;
    background-color: rgb(35, 150, 250);
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}